<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Breaking & Entitying</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center-container">
        <div class="center-content">
            <h1>Hello, {{ name }}!</h1>
            Your username is {{ username }}
            <br>
            <br>

            <form id="accountForm">
                <button type="submit">Get account details</button>
            </form>
            <br>

            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="center-container">
        <div class="center-content">
            <div id="popup" class="popup" style="display:none;">
                <div class="popup-content">
                    <p id="popup-content"></p>
                    <center>
                        <button id="popup-close" class="close">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
  <script src="/static/home.js"></script>
</body>
</html>
