@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

Body {
    font-family: 'Comic Relief', 'Comic Sans', cursive;
    background-color: violet;
    color: indigo;
}

button {
    background-color: indigo;
    font-size: 20px;
    width: auto;
    min-width: 100px;
    height: 40px;
    color: #FFFFFF;
    padding: 0px 10px;
    border: 5px solid indigo;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    font-family: 'Comic Relief', 'Comic Sans', cursive;
}

button:hover {
    background: #FFFFFF;
    color: indigo;
}

h1 {
    color: indigo;
}

#buttons {
    float: right;
}

.challenge-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.challenge-list a {
    text-decoration: none;
    color: inherit;
}

.challenge {
    /* display: inline-block;
  text-align: center; */
    color: black;
    margin: 0.5em;
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 2em;
    font-size: 24px;
}

.challenge:hover {
    background: indigo;
    color: white;
}

#right {
    float: right;
}

#left {
    float: left;
}

.description {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    padding: 0 15%;
    text-align: center;
    word-wrap: break-word; /* legacy */
    overflow-wrap: break-word; /* modern */
}

/*sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: indigo;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 24px;
}

.sidenav a {
    padding: 50px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: violet;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 16px;
    }
}

#opnbttn {
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
    border: 10px solid indigo;
    background-color: indigo;
    border-radius: 1em;
    position: fixed;
}

#opnbttn:hover {
    color: violet;
}

#clsbttn {
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
    padding-left: 35px;
}

#clsbttn:hover {
    color: violet;
}

.indent {
    margin-left: 20px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-content h1,
.center-content form {
    margin: 0;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: block;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the box */
    background-color: violet;
    color: indigo;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    width: 50vw;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.popup input {
  display: block;
  margin-bottom: 10px;
}

.popup p {
  font-size: 18px;
  margin-bottom: 10px;
}

body.popup-open {
  overflow: hidden;
}